#page-container {
	padding-bottom: 50rem;
	position: relative;
}

@media only screen and (max-height: 1024px) {
	#page-container {
		padding-bottom: 45rem;
	}
}

@media only screen and (max-height: 720px) {
	#page-container {
		padding-bottom: 40rem;
	}
}
