.about {
	@include flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 20rem 10rem 5rem;

	.about-container {
		flex: 0 1 80rem;
		order: 1;
		@include flex($direction: column, $align-items: flex-start);
		position: relative;
		z-index: 1;

		h2 {
			color: $title-color;
			transform: translateX(-15rem);
			line-height: 9rem;
		}
		p {
			padding: 2rem;
		}
	}

	.img-container {
		@include flex;
		justify-content: flex-end;
		flex: 1 1 80rem;
		max-width: 65rem;
		position: relative;

		#frame {
			position: absolute;
			height: 100%;
			width: 100%;
			min-width: 20rem;
			border: 1.2rem solid;
			border-image: radial-gradient(rgb(104, 61, 33), rgb(224, 210, 132)) 1;
			transform: translate(-3rem, -3rem);
		}
		img {
			width: 100%;
			min-width: 20rem;
		}
	}
}

@media only screen and (max-width: 1678px) {
	.about {
		.about-container {
			h2 {
				display: none;
			}

			p {
				padding: 0;
			}
		}
		.img-container {
			&::after {
				content: "About";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: $txt;
				color: $title-color;
				font-size: 10rem;
				text-align: center;
				line-height: 9rem;
			}
		}
	}
}

@media only screen and (max-width: 880px) {
	.about {
		padding: 11.5rem 5rem 0;
		.about-container {
			p {
				font-size: 2.5rem;
			}
		}
		.img-container {
			max-width: 42rem;

			&::after {
				font-size: 8rem;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.about {
		padding: 11.5rem 2rem 0;
		gap: 1.5rem;
		.about-container {
			p {
				font-size: 2rem;
			}
		}

		.img-container {
			&::after {
				font-size: 6rem;
			}
			#frame {
				display: none;
			}
		}
	}
}
